{{#each this}}
  <li class='gallery__item'>
    <img src={{preview}} title={{title}} />
    <div class='gallery__text-wrap'>
      <h3 class='gallery__title'>{{galleryTitle}}</h3>
      <p class='gallery__text'>{{galleryText}}
      </p>
    </div>
  </li>
{{/each}}

{{! <li class='gallery__item'>
  <iframe
    class='gallery__iframe'
    lang='en'
    src='https://www.youtube.com/embed/upCeoeMVbYI'
    title='Smart Home. Kitchen'
    frameborder='0'
    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
    allowfullscreen
  ></iframe>
  <div class='gallery__text-wrap'>
    <h3 class='gallery__title'>Розумний дім. Кухня</h3>
    <p class='gallery__text'>
      Голосовий асистент, датчики полум'я і запаху, автоматизоване освітлення і
      ролети вікна на кухні.
    </p>
  </div>
</li> }}