<footer class="section footer">
  <div class="container footer__container">
    <!-- <div class="footer__moto">
      <a href="" class="logo logo--footer">
        <svg class="logo__svg" width="58" height="58">
          <use
            href="./images/svg/icomoon/symbol-defs.svg#icon-smart-home"
          ></use>
        </svg>
        <div class="logo__wrap">
          <p class="logo__text">розумний</p>
          <p class="logo__text--accent">дім</p>
        </div>
      </a>
      <h3 class="moto">комфорт доступний кожному</h3>
      <div class="media">
        <h3 class="media__title">приєднуйтесь до нас у спільнотах</h3>
        <div class="media__group">
          <a
            href="https://www.youtube.com/channel/UC7uVr9GRvSpF-9ihH9fwv8A/videos"
            target="_blank"
          >
            <svg class="youtube" width="50" height="50">
              <use
                href="./images/svg/icomoon/symbol-defs.svg#icon-youtube"
              ></use>
            </svg>
          </a>
          <a href="https://www.facebook.com/smart.home.kyiv/">
            <svg class="facebook" width="55" height="55">
              <use
                href="./images/svg/icomoon/symbol-defs.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </div>
      </div>
    </div> -->
    <div class="footer-touch-form-wrap">
      <div class="footer-touch footer-section">
        <div class="footer-contacts">
          <h2 class="section-title section-title-footer">Наші контакти</h2>
          <p class="section-text section-text-footer">
            Зв'яжіться з нами в зручний спосіб
          </p>
          <div class="footer__social">
            <a href="" class="footer__social-link"></a>
            <a href="" class="footer__social-link"></a>
            <a href="" class="footer__social-link"></a>
            <a href="" class="footer__social-link"></a>
          </div>
        </div>
        <div class="footer-media"></div>
      </div>

      <div class="footer-form footer-section"></div>
    </div>
    <div class="footer-tally footer-section"></div>
  </div>
</footer>
