.section--examples {
  margin-top: 45px;
  background-color: var(--section-background-color);
}
.section-title--examples {
  text-align: left;
}
.button-link--examples {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 300px;
}

.examples-img {
  width: 100vw;
}
.image-link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0%;
}
.button-link__icon-table {
  stroke: white;
  margin-right: 10px;
}
