.footer {
  background-color: var(--footer-background-color);
}
.footer__moto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.moto {
  position: relative;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-top: 0px;
  text-align: left;
  padding-top: 20px;
}

.media__title {
  position: relative;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  font-weight: 400;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    display: block;
    width: 100px;
    height: 1px;
    background-color: var(--offers-decorate-line);
  }
}
.media__group {
  display: flex;
  align-items: center;
  justify-content: left;
}

.facebook {
  fill: white;
  margin-left: 10px;
}
// ================================================================================
.section-title-footer,
.section-text-footer {
  color: white;
  margin-bottom: 20px;
}

.footer-touch-form-wrap {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    // align-items: flex-start;
  }
  // @media screen and (min-width: $tablet) {
  //   display: flex;
  //   // justify-content: space-between;
  //   align-items: flex-start;
  // }
}
.footer-section {
  border-bottom: solid 1px var(--offers-decorate-line);
  min-height: 50px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &.footer-tally {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.footer-touch {
  @media screen and (min-width: $telephone) and (max-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: flex-end;
  }
}
.footer-contacts {
}
.footer__social {
  text-align: right;
  letter-spacing: 0px;
  font-size: 16px;
  display: flex;
  margin-top: 20px;
}
.footer__social-link {
  // font: var(--fa-brand);
  font-family: 'Font Awesome 6 Brands';
  text-rendering: auto;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-size-adjust: 100%;
  width: 52px;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  // border-radius: 50%;
  // transform: scale(0);
  &:hover::before {
    transform: scale3d(1, 1, 1);
  }
  &::before {
    background-color: #ffd740;
    bottom: 0;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transform: scale3d(0, 1, 1);
    transition: transform 0.15s linear;
    width: 100%;
  }
  &:nth-child(1)::after {
    content: '\f409'; //viber
  }
  &:nth-child(2)::after {
    content: '\f2c6'; //telegram
  }
  &:nth-child(3)::after {
    content: '\f232'; //whatsap
  }
  &:nth-child(4)::after {
    content: '\f39f'; //messenger
  }
  &:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.footer-media {
  margin-top: 20px;
  @media screen and (min-width: $telephone) and (max-width: $tablet) {
    width: 140px;
    height: 100%;
    margin-top: 0;
  }
}
.footer-media__wrap {
  display: flex;
  width: 100%;
  @media screen and (min-width: $telephone) and (max-width: $tablet) {
    margin-top: 48px;
  }
}
.footer-media__link {
  text-align: center;
  line-height: 60px;
  font-size: 60px;
  width: 60px;
  height: 60px;
  display: block;
  &:nth-child(odd) {
    color: rgba(255, 255, 255, 0.5);
    @include customTransition(color);
    &:hover,
    &:focus {
      color: var(--secondary-text-color);
    }
  }
  &:nth-child(even) {
    color: rgba(255, 255, 255, 0.5);
    @include customTransition(color);
    &:hover,
    &:focus {
      color: var(--secondary-text-color);
    }
  }
}

.button-link--footer {
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  // outline: none;
  // text-decoration: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.form-input {
  // -webkit-text-size-adjust: 100%;
  font: inherit;
  width: 100%;
  border: 1px solid #cccccc;
  height: auto;
  padding: 0 1vw;
  border-width: 0px 0px 1px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom-color: #fff;
  line-height: 30px;
  margin-right: 0vw;
  color: #fff;
  margin-bottom: 20px;
  outline: 0;
  &::placeholder {
    color: rgba($color: #ffffff, $alpha: 0.5);
  }
}
.form-input__textarea {
  position: relative;
  height: 138px;
  width: 100%;
  margin-bottom: 20px;
}
.modal-form__comment {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px 16px;
  resize: none;
  border: 1px solid var(--modal-form-border-color);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  @include customTransition(border-color);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus,
  &:active,
  &:focus-visible {
    border: 1px solid var(--input-border-active-color);
    outline: none;
  }
}

.tally-text {
  font-size: 12px;
  color: rgba($color: #ffffff, $alpha: 0.5);
  margin-bottom: 0;
}
.small-link {
  display: inline-block;
  // text-decoration: none;
  padding: 15px 0;
  color: inherit;
  margin: 0;
}
